<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RedditTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFEB68A81F073A1600B76810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFEB68BC1F073A1600B76810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFEB68C71F073A1700B76810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
